@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("../k29awxwds/tokens/primitive.css");
@import url("../k29awxwds/tokens/semantic.css");
@import url("../k29awxwds/tokens/scoped.css");
@import url("../k29awxwds/tokens/spacing.css");
@import url("../k29awxwds/tokens/typography.css");

@import url("../k29awxwds/layout/container.css");
@import url("../k29awxwds/layout/mobile.css");
@import url("../k29awxwds/layout/header.css");
@import url("../k29awxwds/layout/nav.css");
@import url("../k29awxwds/layout/main.css");
@import url("../k29awxwds/layout/aside.css");
@import url("../k29awxwds/layout/footer.css");

@import url("../k29awxwds/core/widget.css");
@import url("../k29awxwds/core/cursorcircle.css");
@import url("../k29awxwds/core/pageload.css");

@import url("../k29awxwds/widgets/standard/cards.css");
@import url("../k29awxwds/widgets/standard/profilebox.css");

@import url("../k29awxwds/widgets/hero/carousel.css");
@import url("../k29awxwds/widgets/hero/billboard.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--surface-page);
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to bottom right,
      rgb(0, 0, 0) 0%,
      rgba(255, 255, 255, 0) 70%,
      rgb(0, 0, 0) 100%
    ),
    url("../k29awxwds/assets/gif/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: var(--typescale-p-md-fz);
  color: var(--text-body);
  font-family: var(--body);
}

img {
  width: var(--nativecomponent-media-width);
  max-height: var(--nativecomponent-media-maxheight);
  object-fit: cover;
}

li {
  margin: var(--gap-components);
}

a {
  color: var(--text-action);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--text-action-hover);
}

a.active {
  color: var(--text-action-active);
}

a.disabled {
  color: var(--text-disabled);
}

button {
  cursor: pointer;
  opacity: 0.8;
  background: var(--button-default);
  font-family: var(--body);
  color: var(--button-text);
  font-size: 12px;
  border: 1.5px solid var(--border-default);
  padding: var(--component-wrap);
  transition: 0.24s;
  backdrop-filter: blur(10px);
}

button:hover {
  color: var(--button-text-hover);
  background: var(--button-hover);
  cursor: pointer;
  border: 1.5px solid var(--border-default);
}

button.active {
  background: var(--button-active);
  border: 1.5px solid var(--border-default);
  color: var(--button-text-active);
  box-shadow: 0 0 30px #9ac754;
}

button.btn-sm {
  padding: var(--component-wrap-btn-sm);
}

button.btn-md {
  padding: var(--component-wrap-btn-md);
}

button.btn-lg {
  padding: var(--component-wrap-btn-lg);
}

input[type="text"] {
  cursor: pointer;
  background: var(--interactive-component-action);
  color: var(--interactive-component-text);
  border: 1.5px solid var(--border-action);
  padding: var(--component-wrap);
}

input[type="text"]:hover {
  background: var(--interactive-component-action-hover);
}

input[type="text"]::placeholder {
  font-family: var(--body);
  color: var(--interactive-component-text);
}

input[type="text"]:focus {
  border: 1.5px solid var(--border-focus);
  outline: 0;
}

select {
  cursor: pointer;
  background: var(--interactive-component-action);
  color: var(--interactive-component-text);
  font-family: var(--body);
  border: 0;
  border: 1.5px solid var(--border-action);
  padding: var(--component-wrap);
}

select:hover {
  background: var(--interactive-component-action-hover);
}

select:focus {
  border: 1px solid var(--border-focus);
  outline: 0;
}

option {
  cursor: pointer;
  color: var(--interactive-component-text);
  padding: var(--component-wrap);
}

option:hover {
  background: var(--interactive-component-action-hover);
}

.progresscontainer {
  display: grid;
  grid-template-columns: 1fr;
  height: var(--customcomponent-progressbar-height);
  background: rgba(255, 255, 255, 0.1);
}

.progressbar {
  width: 0%;
  background: var(--surface-action);
  box-shadow: 0 0 10px var(--surface-action);
}
